html {
    height: 100%;
}

body {
    height: 100%;
}

.chat {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

.container {
    height: 80%;
    width: 100%
}

.user {
    width: 100%;
    height: 100%;
}

.userlist {
    width: 100%;
    height: 50px;
    text-align: left;
    margin-left: -30px;
    margin-top: 10px;
    border-bottom: 1px solid grey;
}

.userlist img {
    width: 50px;
    border-radius: 60px;
    height: 50px;
    background-repeat: no-repeat;
    margin-top: -8px;
    overflow: hidden;
    float: left;
}

.userlist button {
    text-align: left;
    outline: none;
    margin-left: 4%;
    background-color: transparent;
    margin-top: -099px;
    border: 0;
    padding: 0;
    width: 80%;
    height: 100%;
}

.userlist :active {
    background-color: grey;
}

.user-chat-container {
    height: 100%;
    width: 80%;
    overflow-y: hidden;
}

.chat-window {
    background-image: url(images/chatBK.jpg);
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding-bottom: 20px;
    float: right;
    -webkit-box-shadow: 22px 24px 18px -10px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 22px 24px 18px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 22px 24px 18px -10px rgba(0, 0, 0, 0.35);
}

.users-container {
    height: 100%;
    width: 20%;
    float: left;
    background-color: transparent;
}

#bg-img {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#messageForm {
    position: relative;
    width: 95%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 20%;
}

.chat {
    height: 100%;
}

#msg-input {
    border-radius: 50px;
    width: 50%;
    margin-left: 2%;
    padding: 10px;
}

#msg-btn {
    width: 7%;
    padding: 9px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(5, 190, 144);
    font-size: large;
    color: white;
    font-weight: bold;
    border: none;
    margin-left: 1%;
}

#msg-btn:hover {
    background-color: teal;
}

.msg {
    list-style-type: none;
}

#messages {
    margin-bottom: 10%;
    margin-left: -2%;
}

.msg-span {
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    font-size: large;
    background-color: #fad7bf;
    color: black;
    margin: 10px 5px 0px 0px;
    text-align: left;
}

.name {
    font-weight: bold;
}

.my {
    text-align: right;
}

.my span {
    color: white;
    background-color: rgb(221, 170, 122);
    margin-right: 20px;
}

.my i {
    display: none;
}

ul {
    text-align: left;
    margin-block-start: 0em;
    list-style-type: square;
    margin-block-end: 0%;
}